//* VARIABLES
$color-app-900: #ede6db;
$color-app-800: #eddfb3;
$color-app-600: #76ba99;
$color-app-400: #ca955c;
$color-app-200: #876445;
$color-primary: #8e6ff6;

$tc-400: #8e6ff6;
$tc-600: #8e6ff6;
$tc-800: #8e6ff6;

$color-btn-hover: #8e6ff6;
$color-btn: #8e6ff6;
//*

.App {
  text-align: center;
}
h1 {
  font-size: 2em;
}
input,
textarea {
  border: none;
  background-color: rgba($color: #e8e8e8, $alpha: 0.7);
  padding: 1em;

  border-radius: 0.5em;
  &:focus {
    background-color: rgba($color: #e8e8e8, $alpha: 0.9);
    outline: none;
  }
}
