@import './../App.scss';

.ourTeam {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin: 3em auto;
  max-width: 70em;
  background-color: $color-yellow;
  border-radius: 1em;
}
.ourTeam__picture {
  border: solid 10px $color-yellow;
  border-radius: 1.2em 0 0 1.2em;
  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    border-radius: 1em 0 0 1em;
  }
}
.ourTeam__info {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 1em;
}

@media screen and (max-width: 900px) {
  .ourTeam {
    position: relative;
    display: flex;
    height: auto;
    width: 80%;
    align-items: center;
  }
  .ourTeam__picture {
    border-radius: 1em;
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1em;
    }
  }
  .ourTeam__info {
    border-radius: 2em;
    position: absolute;
    background-color: rgba($color: $color-orange, $alpha: 0.8);
    padding: 2em;
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
  }
}
