@import './../App.scss';
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 4em auto;
  max-width: 60em;
  padding: 2em;
  justify-content: center;

  .contact-us {
    position: relative;
    border-radius: 2.6em 0 0 2.6em;
    overflow: hidden;
    border: solid 10px $color-orange;
  }
  .background_video {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .contact-us__info {
    background-color: rgba($color: $color-brown, $alpha: 0.7);
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-beige;
    text-shadow: 1px 1px black;
    h3 {
      letter-spacing: 3px;
    }
  }
  .form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em;
    background-color: $color-orange;
    border-radius: 0 2em 2em 0;
  }
  .form {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    width: 100%;

    .email {
      grid-column: 2/3;
    }
    .subject,
    .textarea {
      grid-column: 1/3;
    }
    button {
      grid-column: 1 /3;
      @include buttonStyle;
    }
    .textarea {
      min-height: 7em;
    }
  }
}
@media screen and (max-width: 750px) {
  .contact {
    display: flex;
    flex-direction: column;
    // background-color: $color-orange;
    width: 90%;
    border-radius: 1em;
    .contact-us {
      height: 13em;
      border-radius: 0;
      border: none;
      overflow: hidden;
      border-radius: 2em 2em 0 0;
    }
    .contact-us__info {
      border-radius: 0;
    }
    .background_video {
      border-radius: 0;
    }
    video {
      border-radius: 0;
      object-position: 50% 40%;
    }
    .form__container {
      border-radius: 0 0 2em 2em;
    }
  }
}
@media screen and (max-width: 560px) {
  .contact {
    .form {
      display: flex;
      flex-direction: column;
    }
  }
}
