@import './../../containers/App.scss';
.event {
  display: grid;
  grid-template-rows: 3fr auto;
  width: 14em;
  height: 25em;
  border-radius: 2em;
  overflow: hidden;
  position: relative;
  .event__picture {
    border-radius: 2em 2em 0 0;
    background-size: cover;
  }
  .event__info {
    position: absolute;
    bottom: 0;
    background: $color-green;
    padding: 1em;
    height: 10em;
    display: grid;
    grid-template-rows: 3em 2em auto;
    align-items: center;
    transform: translateY(40%);
  }

  &:hover {
    .event__info {
      transform: translate(0);
      transition: all ease 0.3s;
    }
  }
}

@media screen and (max-width: 670px) {
  .event {
    width: 47%;
    height: 22em;
  }
}
@media screen and (max-width: 400px) {
  .event {
    width: 90%;
    height: 22em;
  }
  .event__info {
    width: 100%;
    transform: translateY(20%);
  }
}
