@import './../../containers/App.scss';
.navbar {
}
.navbar-desktop {
  position: fixed;
  display: flex;
  width: 100%;
  right: 0;
  left: 0;
  max-width: 80em;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  // border: solid 1px blue;
}
.navbar-logo {
  margin: 1em;
  .isologo {
    height: 7em;
    align-self: center;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    border-radius: 50%;
  }
  .logo {
    display: none;
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  border-radius: 0.4em;
  // border: solid red 1px;
  align-items: center;
}
.nav-link {
  background-color: rgba($color: $color-pink, $alpha: 0.7);
  font-size: 1.3rem;
  padding: 0.5em;
  border-radius: 0.3em;
  margin: 1em;
  font-family: $font-title;
  &:hover {
    background-color: rgba($color: $color-pink, $alpha: 1);
  }
  .non-essencial {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: $font-non-essencial;
  }
}
.menu-icon {
  display: none;
}
.hidden {
  display: none;
}

.navbar-mobile {
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.6);
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 100;
}
.drop-menu {
  position: relative;
  background-color: rgba($color: $color-pink, $alpha: 0.7);
  width: 100%;
  height: min-content;
}
.nav-links--mobile {
  display: flex;
  flex-direction: column;
  margin-top: 6em;
  text-align: center;
  gap: 1.5em;
  margin-bottom: 3em;
  li {
    font-size: 2rem;
    width: 100%;
    a {
      color: $color-beige;
      font-family: $font-title;
    }
    .non-essencial {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 600;
      font-family: $font-non-essencial;
    }
    &:hover {
      background-color: rgba($color: $color-pink, $alpha: 1);
      border: solid $color-beige 1px;
    }
  }
}

.close-icon {
  position: absolute;
  top: 1em;
  right: 1em;
  border: none;
  background-color: $color-blue;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  color: $color-beige;
}

@media screen and (max-width: 880px) {
  .nav-links {
    display: none;
  }
  .menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin-right: 2em;
    border: none;
    background-color: rgba($color: $color-pink, $alpha: 0.7);
  }
}

@media screen and (max-width: 700px) {
  .navbar-logo {
    .isologo {
      display: none;
    }
    .logo {
      display: block;
      height: 6.5em;
    }
  }
}
