@import './../../containers/App.scss';
.nav {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 8em;
  img {
    margin-top: 2em;
    margin-left: 1em;
    height: 90%;
    align-self: center;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    border-radius: 50%;
  }

  ul {
    display: flex;
    justify-content: space-between;
    margin: 1em 2em;
    gap: 1em;
    height: 3em;
    align-items: center;
  }
  li {
    display: flex;
    list-style: none;
    background-color: rgba($color: $color-app-600, $alpha: 0.7);
    padding: 0.8em;
    border-radius: 0.4em;
  }
}
