.header {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.logoHeader {
  background: url('./../../img/home.png') center no-repeat;
  background-size: cover;
  padding: 8em 5em 2em 5em;
  height: 100%;

  .logo {
    max-width: 100%;
    height: auto;
  }
  .isologo {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .header {
    justify-content: center;
  }
  .logoHeader {
    display: flex;
    justify-content: center;
    background: url('./../../img/9920.png') center no-repeat;
    background-size: cover;
    // padding-top: 10em;
    // padding-bottom: 5em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.333);
    background-blend-mode: multiply;
    .logo {
      display: none;
    }
    .isologo {
      margin: 0;
      display: block;
      height: 100%;
    }
  }
}
