@import './../App.scss';
.partyTime {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background-color: $color-app-900;

  .bg-party--1 {
    background: url('./../../img/party-time.png') no-repeat;
    background-size: cover;
  }
  .bg-party--2 {
    width: 100%;
    background: url('./../../img/party-time2.png') no-repeat;
    background-size: cover;
  }
  .info {
    display: flex;
    flex-direction: column;
    height: 15em;
    padding: 2em;
    max-width: 20em;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    button {
      width: 12em;
      padding: 0.5em;
      border: none;
      border-radius: 0.5em;
    }
  }
}
@media screen and (max-width: 700px) {
  .partyTime {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    .bg-party--1 {
      display: none;
    }
    .info {
      justify-self: center;
      width: 100%;
    }
  }
}
