@import './../App.scss';
.partyTime {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: $color-blue;
  height: 24em;

  .bg-party--1 {
    background: url('../../../public/img/party-time1.jpg') no-repeat;
    background-size: 40%;
    background-position: left;
    background-attachment: fixed;
  }
  .bg-party--2 {
    background: url('../../../public/img/party-time2.jpg') no-repeat;
    background-size: 50%;
    background-position: right;
    background-attachment: fixed;
  }
  .info {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 4em 2em;
    min-width: 20em;
    align-self: center;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    button {
      @include buttonStyle;
    }
  }
}
@media screen and (max-width: 700px) {
  .partyTime {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    height: auto;
    .bg-party--1 {
      display: none;
    }
    .bg-party--2 {
      background-size: 100%;
      background-position: center top;
    }
    .info {
      justify-self: center;
      width: 80%;
      padding-bottom: 1em;
    }
  }
}
