@import './../App.scss';

.products {
  display: flex;
  justify-content: center;
  background: $color-app-800;
  height: 36em;
  margin: 2em 0;
  padding: 4em 6em;
  // border: solid red 1px;
  .products__container {
    display: flex;
    gap: 2em;
    max-width: 1000px;
    // height: 100%;
    gap: 1em;
    justify-content: space-around;
  }
}
